h1{
    color:rgb(244, 244, 250);
    background-color:brown;
    font-size:15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight:bold;
     padding: 10px;
    margin: 10px;
    text-align: center;
    
}

#form{
    color:red;
    padding: 20px 2px opx 100px;
    /* padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px; */
    background-color: azure;
    width: 300px;
    border: 2px solid;
    margin-left:29%;
    border-radius:15px;


}

/* attribute selector */

input[type="submit"]{
    color:red;
    background-color:pink;
}